
.wrapper {	

	float:center;	 
	width: 100%;
}
.block {
	width: 100%;
	background: #F2EFE6;
    border: 1px solid #B25538;


}
.text1{
	color : rgb(210, 105, 30);
	font-weight: 600;
	font-size: 20pt;
	text-align: center;
	 
}
.block1 {

    background: #EDD7C4; 
    padding: 10px; 
    border-radius: 5px; 
	border: 1px solid #B25538;
   }
.block2 {
 
    padding: 5px; 
    border-radius: 5px; 
	border: 1px solid #B25538;
   }
 
.td {
	color : rgb(210, 105, 30);	
	font-weight: 600;
	text-align: center;
    padding: 3px;
	font-size: 14pt;
	background-color: #fadbc8;
	border-bottom: 1px solid #a52a2a;
}
 
.table{
	width: 100%;
	
}
  
.button1{
    background: -moz-linear-gradient(#EDD7C4, #F9F8F6);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#EDD7C4), to(#F9F8F6));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDD7C4', endColorstr='#F9F8F6');
    padding: 3px 7px;
    color: rgb(210, 105, 30);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #B25538;
   }
   
 .text2{
	color : rgb(210, 105, 30);
	font-weight: 600;
}
.text3 {
	color : rgb(210, 105, 30);
	font-weight: 600;
	font-size: 14pt;
}

.text4{

	color : rgb(210, 105, 30);	
	font-size: 14pt;
	text-align: center;
}

table tr:nth-child(even) {
    background-color: #EDD7C4;
}
